@section css {

}

@section js{

}

<form action="/CV/Save" method="post">

    Description: <input type="text" name="Description" />
    Summary: <input type="text" name="Summary" />
    UserId: <input type="text" name="UserId" />

    <button type="submit">Kaydet</button>
    <button type="reset">Sıfırla</button>
</form>
