@model CV

@section css {

}

@section js{

}


<form action="/CV/Update" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    Description: <input type="text" name="Description" value="@Model.Description" />
    Summary: <input type="text" name="Summary" value="@Model.Summary" />
    UserId: <input readonly type="text" name="UserId" value="@Model.UserId" />
    <button type="submit">Kaydet</button>
    <button type="reset">Sıfırla</button>
</form>