@section css {

}

@section js{ 

}

<form action="/home/Save" method="post">

    Adı: <input type="text" name="Name" />
    Soyadı: <input type="text" name="LastName" />
    Mail:  <input type="text" name="Mail" />
    UserName: <input type="text" name="UserName" />

    <button type="submit">Kaydet</button>
    <button type="reset">Sıfırla</button>
</form>

