@section css {

}

@section js{

}

<form action="/SiteSettings/Save" method="post">

    Maintenance: <input type="text" name="Maintenance" />
    Title: <input type="text" name="Title" />
    Description:  <input type="text" name="Description" />
    Keywords: <input type="text" name="Keywords" />
    IsDarkMode: <input type="text" name="IsDarkMode" />
    Facebook: <input type="text" name="Facebook" />
    Twitter: <input type="text" name="Twitter" />
    Instagram: <input type="text" name="Instagram" />
    Youtube: <input type="text" name="Youtube" />
    <button type="submit">Kaydet</button>
    <button type="reset">Sıfırla</button>
</form>
