@section css {

}

@section js{

}

<form action="/Contact/Save" method="post">

    Address: <input type="text" name="Address" />
    PhoneNumber: <input type="text" name="PhoneNumber" />
    UserId: <input type="text" name="UserId" />

    <button type="submit">Kaydet</button>
    <button type="reset">Sıfırla</button>
</form>
